html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #30425d;
}

/* Estilos del header */
header {
  background-color: #272727;
  padding: 10px 0; /* Añadimos algo de espacio arriba y abajo */
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Espaciado lateral */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

/* Menú de navegación */
.menu {
  list-style-type: none;
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente */
  gap: 20px; /* Espacio entre los ítems */
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block; /* Mantiene el espaciado original entre los <li> */
  text-align: center; /* Centra el contenido dentro de cada <li> */
  padding: 0 15px; /* Ajusta el espacio entre los elementos del menú */
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  display: block; /* Asegura que el contenido esté alineado en bloque */
  text-align: center; /* Centra el texto y los íconos */
  padding: 10px 0; /* Ajuste de padding superior e inferior */
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #ffd700; /* Color en hover para mantener consistencia */
}

/* Íconos */
i {
  display: block;
  margin-bottom: 5px;
}

/* Barra de búsqueda */
.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 8px;
  border-radius: 20px;
  border: none;
  width: 200px;
  margin-right: 10px;
}

.search-bar button {
  background-color: #ffd700;
  border: none;
  border-radius: 20px;
  padding: 8px 12px;
  cursor: pointer;
  color: #272727;
  font-weight: bold;
}

.search-bar button:hover {
  background-color: #ffcc00;
}

/* Estilo del carrito */
.cart-icon {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.cart-icon:hover {
  color: #ffd700;
}

/* Sección de productos */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto; /* Centra la sección de productos */
}

.product {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.product img {
  max-width: 100%;
  border-radius: 8px;
}

.product h4 {
  margin: 15px 0 10px;
  font-size: 18px;
}

.product p {
  font-size: 14px;
  margin-bottom: 10px;
}

.product .price {
  font-size: 16px;
  font-weight: bold;
  color: #ff6f00;
}

.product button {
  background-color: #ffd700;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: box-shadow 0.3s ease; /* Transición suave para la sombra */
}

.product button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra en hover */
}